name: API Test Framework

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "30 12 * * *"   # Every day at 6:00 PM IST
    - cron: "45 10 * * *"   # Every day at 4:10 PM IST

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "maven"
        
      - name: Execute Tests
        run: mvn clean test -Dsuite=suite -X

      - name: Upload Logs
        uses: actions/upload-artifact@v5
        with:
          name: Logs
          path: logs/
